<div class="p-5 bg-body-tertiary rounded-3">
    <div class="container-fluid py-4">
        <h1 class="display-6 fw-bold mb-4">Weather in {{city}}</h1>

        <img src="https://openweathermap.org/img/wn/{{weather.weather.0.icon}}@2x.png" alt="weather-icon">

        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        Weather
                    </div>
                    <div class="col-6">
                        {{weather.weather.0.main}}
                    </div>
                </div>

            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        Description
                    </div>
                    <div class="col-6">
                        {{weather.weather.0.description}}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        Temperature
                    </div>
                    <div class="col-6">
                        {{celsia weather.main.temp}}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        Min-Temperature
                    </div>
                    <div class="col-6">
                        {{celsia weather.main.temp_min}}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        Max-Temperature
                    </div>
                    <div class="col-6">
                        {{celsia weather.main.temp_max}}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        Pressure
                    </div>
                    <div class="col-6">
                        {{weather.main.pressure}}
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        Humidity
                    </div>
                    <div class="col-6">
                        {{weather.main.humidity}}%
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>